<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tisadsdsdsdsdasdsatle</title>
</head>
<body>

    <div>
        <a href="{% url 'categorias' 1%}">
            <img src="https://th.bing.com/th/id/OIP.LFDtn7VTK6A1ls-PkpEjuwHaEL?rs=1&pid=ImgDetMain">
        </a>
    </div>
    <div>
        <a href="{% url 'categorias' 2%}">
            <img src="https://th.bing.com/th/id/OIP.IB9OTTM-4hwFj8HR8McGywHaHa?rs=1&pid=ImgDetMain">
        </a>
    </div>
    {% if context %}
    {% for conte in context %}
    <h1>Produto</h1>
    <p>Id: {{ conte.id }}</p>
    <p>Nome: {{ conte.Nome }}</p>
    <p>Autor: {{ conte.autor }}</p>
    <p>Quantidade: {{ conte.quantidade }}</p>
    <p>Preço: {{ conte.preco }}</p>
    <p>Descrição: {{ conte.descricao }}</p>
    <img src="https://apimarketplace24022025.s3.sa-east-1.amazonaws.com/uploads/programacao-scaled.jpg" alt="Imagem do Produto">
    <a href="{% url 'produto'  conte.id  %}">Comprar</a>
    {% endfor %}
{% else %}
    <p>Erro ao carregar o produto.</p>
{% endif %}
    <a href="{% url 'logout' %}" id="registerLink">Logout</a>

</body>
</html>