<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if context %}
    <h1>Produto</h1>
    <p>Id: {{ context.id }}</p>
    <p>Nome: {{ context.Nome }}</p>
    <p>Autor: {{ context.autor }}</p>
    <p>Quantidade: {{ context.quantidade }}</p>
    <p>Preço: <span id="preco_produto">{{ context.preco }}</span></p>
    <p>Descrição: {{ context.descricao }}</p>
    <img src="{{ context.imagem }}" alt="Imagem do Produto">
{% endif %}
    <form action="{% url 'calcula_total' context.id %}" method="post">
        {% csrf_token %}
            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" required value="{{ form.quantidade.value|default_if_none:'' }}">

            <label for="cep">CEP:</label>
            <input type="text" id="cep" name="cep" required value="{{ form.cep.value|default_if_none:'' }}">

            <label for="complemento">Complemento:</label>
            <input type="text" id="complemento" name="complemento" required value="{{ form.complemento.value|default_if_none:'' }}">
            {% if messages %}
                <div class="error-message">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        <button type="submit">Calcular frete</button>
    {% if fretes%}
        {% for frete in fretes %}
            <p>Id: {{ frete.id }}</p>
            <p>Nome: {{ frete.name }}</p>
            <p>Preco: {{ frete.price }}</p>
            <p>Tempo estimado: {{ frete.custom_delivery_range }}</p>
            <img src="{{ frete.picture }}" alt="Imagem do Frete" style="max-width: 100px;">
            <input type="radio" name="frete_id" value="{{ frete.id }}" data-price="{{ frete.price }}">
            {{ frete.name }}
        {% endfor %}
    <button type="submit">IR PARA O PAGAMENTO</button>
    {% endif %}
    </form>
    <p>{{ total }}</p>
    <p>Total: R$ <span id="total">--</span></p>

    <script>
        const quantidadeUsuario = document.getElementById("quantidade")
        const precoProduto = parseFloat(document.getElementById("preco_produto").textContent);
        const freteRadios = document.querySelectorAll('input[name="frete_id"]');
        const preco_total = document.getElementById("total")

        function atualizarPreco(){
            var quantidade = parseInt(quantidadeUsuario.value) || 1
            var freteSelecionado = document.querySelector('input[name="frete_id"]:checked')
            var precoFrete = freteSelecionado ? parseFloat(freteSelecionado.dataset.price) : 0

            var total = (quantidade * precoProduto) + precoFrete
            preco_total.textContent = total.toFixed(2);
        }
        quantidadeUsuario.addEventListener("input", atualizarPreco)
        freteRadios.forEach(radio => {
            radio.addEventListener("change", atualizarPreco)
        })
    </script>
</body>
</html>