<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if context %}
    <h1>Produto</h1>
    <p>Id: {{ context.id }}</p>
    <p>Nome: {{ context.Nome }}</p>
    <p>Autor: {{ context.autor }}</p>
    <p>Quantidade: {{ context.quantidade }}</p>
    <p>Preço: {{ context.preco }}</p>
    <p>Descrição: {{ context.descricao }}</p>
    <img src="{{ context.imagem }}" alt="Imagem do Produto">
{% endif %}
    <form action="{% url 'compra' context.id %}" method="post">
        {% csrf_token %}
            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" required value="{{ form.quantidade.value|default_if_none:'' }}">

            <label for="cep">CEP:</label>
            <input type="text" id="cep" name="cep" required value="{{ form.cep.value|default_if_none:'' }}">

            {% if messages %}
                <div class="error-message">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        <button type="submit">Comprar</button>
    {% if fretes%}
        {% for frete in fretes %}
            <p>Id: {{ frete.id }}</p>
            <p>Nome: {{ frete.name }}</p>
            <p>Preco: {{ frete.price }}</p>
            <p>Tempo estimado: {{ frete.custom_delivery_range }}</p>
            <p>{{ frete.picture }}</p>
            <input type="radio" name="frete_id" value="{{ frete.id }}">
            {{ frete.name }}
        {% endfor %}
    <button type="button">IR PARA O PAGAMENTO</button>
    {% endif %}
    </form>


    <p>{{ total }}</p>
</body>
</html>