<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if context %}
    <h1>Produto</h1>
    <p>Id: {{ context.id }}</p>
    <p>Nome: {{ context.Nome }}</p>
    <p>Autor: {{ context.autor }}</p>
    <p>Quantidade: {{ context.quantidade }}</p>
    <p>Preço: {{ context.preco }}</p>
    <p>Descrição: {{ context.descricao }}</p>
    <img src="{{ context.imagem }}" alt="Imagem do Produto">
{% endif %}
    <button type="submit">Comprar</button>

</body>
</html>