<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if context %}
    <h1>Produto</h1>
    <p>Id: {{ context.id }}</p>
    <p>Nome: {{ context.Nome }}</p>
    <p>Autor: {{ context.autor }}</p>
    <p>Quantidade: {{ context.quantidade }}</p>
    <p>Preço: {{ context.preco }}</p>
    <p>Descrição: {{ context.descricao }}</p>
    <img src="{{ context.imagem }}" alt="Imagem do Produto">
    <a href="{% url 'favoritos' context.id %}">Favoritar</a>
    <a href="{% url 'desfavoritar' context.id %}">Remover dos favoritos</a>
{% endif %}
    <a href="{% url 'calcula_total' context.id %}">Comprar</a>
    {% if messages %}
                <div class="error-message">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
    {% endif %}
</body>
</html>